body {
 

  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/28359/marvel.jpg');
}
h1 {
  font-family: Impact, Haettenschweiler, sans-serif;
   
  font-size: 5cm;
  background: red;
  color: #fff;
  padding: 0 30px;
  display: inline-block;
}
h2{
  font-size: 1cm;
  padding: 0 30 px;
  display: inline-block;
  color: rgb(0, 0, 0);
  background: wheat;
}

